
/* using the universal * selector, we tell our CSS to include padding and borders in its box model calculation as opposed to adding them. this makes the effort of resizing elements more intuitive. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* using the universal * selector, this applies a top margin to elements that follow another element and creates universal vertical rhythm */

* + * {
    margin-top: 1.5rem;
  }

  /* Set body to fill the viewport even when empty; making the choice to prioritize beauty over loading speed because the text is minimal and what is present is important; adjusts line height for accessibility  */
body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
  }

  /* sets default on img for ease of styling */
  img {
  max-width: 100%;
  display: block;
}

input,
button {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
}


#layout {
    display: flex;
}